<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>sarfraz</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/bootstrap4/bootstrap.min.css'  %}"
    />
    <style>
      form {
        margin: 0 auto;
        width: 80%;
        text-align: center;
      }
    </style>
  </head>
  <body style="background-color: #ff0066">
    <div class="content" style="padding-top: 35%">
      {% for message in messages %}
      <p>message: {{ message }}</p>
      {% endfor %}
      <form method="POST" action="">
        {% csrf_token %}
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter number"
          name="number_val"
        />
        <br />
        <input
          type="submit"
          class="btn btn-lg"
          style="background-color: #52beff; color:azure;"
        />
      </form>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
